{
  "extends": [
    "plugin:vue/recommended"
  ],
  "plugins": [ "jest" ],
  "rules": {
    "semi": [ "error", "always" ],
    "arrow-parens": [ "error", "always" ]
  },
  "env": {
    "jest/globals": true
  }
}
