.former-wrapper {
  display: flex;
}

.former-main {
  width: 100%;
}

.former-top {
  padding-bottom: 5px;
}

.former-bottom {
  padding-top: 5px;
}

.former-top,
.former-bottom {
  color: #909399;
}

.former-control {
  width: 100%;
}

.former-suffix,
.former-prefix {
  color: #909399;
}

.former-suffix {
  margin-left: 10px;
}

.former-prefix {
  margin-right: 10px;
}
